<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Dots and Boxes Web Client</title>
		<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
	</head>
	<body>
		<header>
			<div class="content-wrapper">
				<hgroup id="titles">
					<h1>Juego de Timbiriche</h1>
					<h2>Desarrollo de aplicaciones web</h2>
				</hgroup>
			</div>
		</header>
		<section id="main-content">
			<div class="content-wrapper">
				<ul>
					<li></li>
					<li></li>
				</ul>
			</div>
		</section>
		<footer>
			<div class="content-wrapper">
				<p>Copyright &copy; Jos&eacute; Roberto Torres Mancilla, Mauricio Cunill&eacute; Blando</p>
			</div>
		</footer>
	</body>
</html>
