h1 {
	color: orange;
	font-size: 20pt;
}

h2 {
  color: #c0c0c0;
  font-size: 16pt;
}

p {
  font-size: 14pt;
}

.small {
  font-size: 10pt;
}

.content-wrapper {
	padding: 10px;
	max-width: 920;
}

#titles {
	text-align: center;
}

header, body, footer {
	min-width: 920;
}

#main-content {
	min-height: 720px;
}

body {
	margin: 0px auto;
}

footer {
	text-align: center;
	color: white;
	background-color: orange;
}
